.contacts {
  padding: 38px 0;
}

.contacts__title {
  margin-top: 0;
  margin-bottom: 28px;

  font-size: 25px;
  line-height: 30px;
}

.contacts__title,
.contacts__table {
  padding: 0 30px;
}

.contacts__table {
  margin-bottom: 62px;
}

.contacts__map-container {
  img {
    display: block;
  }
}

.contacts__button {
  padding: 16px 38px;
}
