.goods-list {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.goods-list__item {
  position: relative;

  &--decor::after {
    position: absolute;
    top: 23px;
    right: 36px;

    width: 40px;
    height: 62px;

    background-image: url("../img/hero/lamp.svg");
    content: "";
  }

  &--toys::after {
    position: absolute;
    top: 21px;
    right: 27px;

    width: 60px;
    height: 60px;

    background-image: url("../img/hero/lego.svg");
    content: "";
  }
}

.goods-list__item-link {
  display: block;
  padding: 24px 30px 31px;

  font-size: 19px;
  text-decoration: none;
  color: #ffffff;
  background-color: #63d1bb;

  &--toys {
    background-color: #56c3b2;
  }
}
