.main-header {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width){
    width: 668px;
    margin: 0 auto;
  }
}

.main-header__logo-container {
  margin: 22px auto;

  @media (min-width: @tablet-width) {
    margin: 22px auto 22px 0;
  }
}

.main-header__logo-image {
  display: block;
}

