.manufacture {
  width: 100%;
}

.manufacture__container {
  width: 260px;
  margin: 0 auto;
  padding: 0 30px 58px;
}

.manufacture__title {
  width: min-content;
  margin: 0;
  padding: 22px 49px 26px 91px;
}

.manufacture-title {
  font-size: 17px;
  border: 1px solid #ececec;
}

.manufacture__content {
  display: block;
}

.manufacture__info {
  box-sizing: border-box;
  padding: 34px;
  border: 1px solid #ececec;
}

.manufacture__description {
  margin-top: 0;
  margin-bottom: 41px;

  font-size: 13px;
  font-weight: 400;
  color: #444444;
}

.manufacture__button {
  padding: 18px 17px;
  line-height: 16px;
}
