.user-list__item {
  padding: 27px 30px 27px 76px;
  box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;
}

.user-list__item-link {
  position: relative;
  color: #000000;
  text-decoration: none;
}

.user-list__search-icon,
.user-list__cart-icon {
  position: absolute;
  top: 50%;
  left: -44px;
  transform: translateY(-50%);
}
