.wave-thick {
  position: relative;
}

.wave-thick::after {
  @media (min-width: @tablet-width) {
    position: absolute;
    top: 98.4%;
    display: block;
    width: 100%;
    height: 24px;
    background-image: url("../img/hero/wave.svg");
    background-position-x: center;
    background-repeat: repeat-x;
    background-size: auto 24px;
    content: "";
  }

  @media (min-width: @desktop-width) {
    top: 97%;
    height: 34px;

    background-image: url("../img/hero/wave-form-desktop.svg");
    background-size: auto 34px;
  }
}
