.reviews {
  padding: 0 30px 45px;
}

.reviews__title {
  margin-top: 0;
  margin-bottom: 14px;
  font-size: 25px;
  line-height: 30px;
}

.reviews__list {
  margin: 0;
}

.reviews__item {
  margin: 0;
}

.reviews__text {
  margin-top: 0;
  margin-bottom: 33px;

  font-size: 15px;
  line-height: 30px;
  color: #444444;
}

.reviews__author-info {
  font-style: normal;
}

.reviews__author-name {
  display: block;
}

.reviews__author-nickname {
  line-height: 30px;
  font-weight: 400;
  color: #444444;
}

.reviews__controls {
  padding-top: 30px;
  padding-bottom: 38px;
}

.reviews__reply {
  padding: 16px 77px;
}
